.container__mirror{
    display: none !important;
}

.container__suggestions{
    background-color: black;
    color: white;
    max-width: 300px;
}

.container__suggestion--focused{
    background-color: blue;
}

.highlight {
  font-weight: bold; /* Example: making the text bold */
  color: red;       /* Example: changing the text color to red */
}