.container__mirror{
    display: none !important;
}

.container__suggestions{
    background-color: #f6f6f6;
    color: #000000;
    max-width: 300px;
    border: 1px solid #d7d7d7;
}

.container__suggestion--focused{
    background-color: blue;
}

.highlight {
  font-weight: bold; /* Example: making the text bold */
  color: red;       /* Example: changing the text color to red */
}